<h1>Welcome to Hundred Languages, <%= @teacher_first_name %></h1>
<p>
  <%= @sender %> has invited you to join Hundred Languages.
</p>
<p>
  To login to the site, just follow this link: <%= link_to 'login', new_session_url %>.
</p>
<p>Thanks for joining and have a great day!</p>